.collapsibleContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
}

.toggleButton {
  background-color: #ddd;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  text-align: left;
}

.content {
  padding: 18px 12px;
  border-top: 1px solid #ddd;
}
